<div class="container-fullwidth">
  <%= image_tag('full-succulent-banner.png', class: "hero") %>
</div>

  <div class="wrapper">
    <div class="box succulent-store">Sacred Thistle Plant Nursery</div>
    <div class="box ceramics-store">Stone Leaf Pottery</div>
    <div class="box decor-store">Creative Living Décor</div>
    <div class="box candle-store">Aroma Candles</div>
    <div class="box soap-store">Lather Soap</div>
    <div class="box book-store">Book Bar</div>
  </div>
