<div class="container-fullwidth">
  <%= image_tag('full-succulent-banner.png', class: "hero") %>
</div>

  <div class="wrapper">
    <div class="box succulent-store">Succulents</div>
    <div class="box ceramics-store">Ceramics</div>
    <div class="box decor-store">Decorama</div>
    <div class="box candle-store">Candles</div>
    <div class="box soap-store">Soap</div>
    <div class="box book-store">Books</div>
  </div>
