// colors
$primary-color: #0fb8ad;
$secondary-color: #2cb5e8;
$accent-color: #1fc8db;
$background-color: #eaf4f7;
$font-color: #071E22;
$pagination-circular-color: $primary-color;
$pagination-circular-disabled-color: $secondary-color;
// color-scheme # C5D4B9, # F8FFE5, # 071E22, # 1D7874, # D7DAE5

// colors
// #C5D4B9
// #F8FFE5
// #071E22
// #1D7874
// #D7DAE5
