// colors
$primary-color: #C5D4B9;
$secondary-color: #1D7874;
$pagination-circular-color: $primary-color;
$pagination-circular-disabled-color: $secondary-color;
// color-scheme # C5D4B9, # F8FFE5, # 071E22, # 1D7874, # D7DAE5

// colors
// #C5D4B9
// #F8FFE5
// #071E22
// #1D7874
// #D7DAE5
