@import "partials/base";


body {
  background-color: $background-color;
}

.sessions-new {
  background: image-url(login) no-repeat center center fixed;
  background-size: cover;
}

.color-gradient {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-bottom-50 {
  margin-bottom: 10%;
}

.banner-image {
  height: 250px;
  width: auto;
}

.small{
  size: 10px;
}
footer{
  float: bottom;
}
.successfully_removed {
  color: green;
}
.alert{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  text-align: center;
}
.logo {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

.logo a:hover{
  text-decoration: none;
  color: $secondary-color;
}

div.container {
  width:800px;
  height:auto;
  padding: 5px;
}

a {
  color: black;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#left {
  text-align: left;
  float: left;
}
#right {
  text-align: right;
  /* Change this to whatever the width of your left column is*/
}
.clear {
  clear: both;
}

.hero {
  width: 800px;
}
